<% include ../../layouts/header %>

<div class="container">
  <div class="heading-1 text-center mt-3">Admin</div>
  <% include ../../layouts/messages %>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/cv">CV Builder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active heading-4" href="/admin/home/community">Community</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/internships">Internships</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/internship_opportunities">Internship Opportunities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/mentors">Mentors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/mentorships">Mentorships</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/students">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/volunteerships">Volunteerships</a>
    </li>
    <li class="nav-item">
      <a class="nav-link heading-4" href="/admin/home/volunteership_opportunities">Volunteership Opportunities</a>
    </li>
  </ul>

  <div class="tab-content">
    <table class="table table-bordered table-text-centered table-no-padding mt-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2">Student</th>
          <th scope="col" colspan="2">Post</th>
          <th scope="col">Created</th>
          <th scope="col">Update Status</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <% if (posts) { %>
      <tbody>
        <% posts.forEach(post => { %>
        <tr>
          <td><%= post.author.name %></td>
          <td><a class="btn btn-outline-primary" href="/student/profile/<%= post.author.id %>">View</a></td>
          <td><%= post.title %></td>
          <td><a class="btn btn-outline-primary" href="/community/<%= post._id %>">View</a></td>
          <td><%= new Date(post.created).toDateString() %></td>
          <% if (!post.status) { %>
          <td><a class="btn btn-outline-primary" href="/admin/accept/community/<%= post._id %>">Accept Post</a></td>
          <% } else if (post.status) { %>
          <td><button class="btn btn-outline-success" disabled>Accepted</button></td>
          <% } %>
          <td><a href="/community/<%= post._id %>/admin/delete" class="btn btn-outline-danger">Delete</a></td>
        </tr>
        <% }); %>
      </tbody>
      <% } %>
    </table>
  </div>
</div>

<% include ../../layouts/footer %>