<% include ../layouts/header %>

<div class="container mt-5 text-dark" style="margin-top: 75px !important;">
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
            <div class="card">
                <!-- <img class="card-img-top" src="/community/get_image/<%= post._id %>" onerror="this.style.display='none'""> -->
                <div class="card-body">
                    <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: flex-end;">
                        <div class="heading-2 card-title"><%= post.title %></div>
                        <% if (!post.status) { %>
                            <div>
                                <button class="btn btn-outline-danger" disabled>Pending</button>
                                <% if (user && user.userType == "ADMIN") { %>
                                    <a class="btn btn-outline-success" href="/admin/accept/community/<%= post._id %>">Accept Post</a>
                                <% } %>
                            </div>
                        <% }%>
                    </div>
                    <!-- <p class="card-text para-1"><a href="/student/profile/<%= post.author.id %>" style="text-decoration: none;"><%= post.author.name %></a></p> -->
                    <p class="card-text para-1"><%= post.author.name %></p>
                    <p class="card-text para-2"><i class="fas fa-map-marker-alt"></i> <%= post.city %></p>
                    <p class="multiline card-text"><%= post.text %></p>
                </div>
                <div class="ml-4 mb-4">
                    <a href="/community" class="btn btn-outline-dark">Community Hub</a>
                    <% if (user && user._id == post.author.id) { %>
                        <a href="/community/<%= post._id %>/edit" class="btn btn-outline-primary">Edit</a>
                        <a href="/community/<%= post._id %>/delete" class="btn btn-outline-danger">Delete</a>
                    <% } %>
                </div>
            </div>

            <div class="jumbotron mt-4" style="padding: 20px;">
                <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: flex-end;">
                    <div class="heading-3">Comments</div>
                    <a href="/community/<%= post._id %>/comment/new" class="btn btn-outline-dark">Add Comment</a>
                </div>
                <div class="comments">   
                    <% if (post.comments.length != 0) { %>
                        <% post.comments.forEach(comment => { %>
                            <hr>
                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: flex-end;">
                                <strong><div><%= comment.author.name %></div></strong>
                                <div><%= new Date(comment.created).toDateString() %></div>
                            </div>
                            <div class="multiline para-3"><%= comment.text %></div>
                            <% if (user && user._id.equals(comment.author.id)) { %>
                                <a href="/community/<%= post._id %>/comment/<%= comment._id %>/edit" class="btn btn-outline-primary mt-2 mr-1 btn-sm">Edit</a>
                                <a href="/community/<%= post._id %>/comment/<%= comment._id %>/delete" class="btn btn-outline-danger mt-2 btn-sm">Delete</a>
                            <% } %>
                            <% if (user && user.userType == "ADMIN") { %>
                                <a href="/community/<%= post._id %>/comment/<%= comment._id %>/delete" class="btn btn-outline-danger mt-2 btn-sm">Delete</a>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div> 
            </div>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>

<% include ../layouts/footer %>