<!-- <% include ../layouts/admin_header %> -->
<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="/internship_opportunities/register" method="POST" enctype="multipart/form-data">
                <div class="heading-2 text-center mt-3">ADD INTERNSHIP OPPORTUNITY</div>
                <% include ../layouts/messages %>
                <div class="form-group">
                    <label class="required" for="org_name">Organization Name</label>
                    <input type="text" class="form-control" id="org_name" placeholder="Enter organization name"
                        name="org_name" value="<%= typeof org_name != 'undefined' ? org_name : '' %>">
                </div>
                <div class="form-group">
                    <label for="file">Organization Logo</label>
                    <br>
                    <input type="file" id="file" name="file" value="<%= typeof file != 'undefined' ? file : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="profile">Profile</label>
                    <input type="text" class="form-control" id="profile" placeholder="Enter profile"
                        name="profile" value="<%= typeof profile != 'undefined' ? profile : '' %>">
                </div>
                <div class="form-group">
                    <label for="stipend">Stipend</label>
                    <input type="text" class="form-control" id="stipend" placeholder="Enter stipend"
                        name="stipend" value="<%= typeof stipend != 'undefined' ? stipend : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter city" name="city"
                        value="<%= typeof city != 'undefined' ? city : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="description1">Description (Short)</label>
                    <input type="text" class="form-control" id="description1"
                        placeholder="Entry Short Description" name="description1"
                        value="<%= typeof description1 != 'undefined' ? description1 : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="description">Description (Long)</label>
                    <textarea type="text" class="form-control" rows="5" id="description"
                        placeholder="Enter Description"
                        name="description"><%= typeof description != 'undefined' ? description.trim() : '' %></textarea>
                </div>
                <div class="form-group">
                    <label class="required"  for="duration">Duration</label>
                    <input type="text" class="form-control" id="duration" placeholder="Enter Duration" name="duration"
                        value="<%= typeof duration != 'undefined' ? duration : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="openings">Openings</label>
                    <input type="number" class="form-control" id="openings" placeholder="Enter Number of Openings"
                        name="openings" value="<%= typeof openings != 'undefined' ? openings : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="industry">Industry</label>
                    <select type="industry" class="form-control" id="industry" name="industry">
                        <% if(typeof industries != 'undefined' && industries != '') { %>
                            <% industries.forEach(indus => { %>
                                <% if(typeof industry != 'undefined' && industry != '' && indus.name==industry) { %>
                                    <option value="<%= indus.name %>" selected="selected"><%= indus.name %></option>
                                <% } else { %>
                                    <option value="<%= indus.name %>"><%= indus.name %></option>
                                <% } %>
                            <% }); %>
                        <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-dark pl-4 pr-4">Add</button>
            </form>
        </div>
    </div>
</div>

<% include ../layouts/footer %>