<!-- <% include ../layouts/admin_header %> -->
<% include ../layouts/header %>

<div class="container mt-3 text-dark">
    <div class="row">
        <div class="col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="/volunteership_opportunities/edit/<%= _id %>" method="POST" enctype="multipart/form-data">
                <div class="heading-2 text-center mt-3">EDIT VOLUNTEERSHIP OPPORTUNITY</div>
                <% include ../layouts/messages %>
                <div class="form-group">
                    <label class="required" for="org_name">Organization Name</label>
                    <input type="text" class="form-control" id="org_name" placeholder="Enter organization name"
                        name="org_name" value="<%= typeof org_name != 'undefined' ? org_name : '' %>">
                </div>
                <div class="form-group">
                    <label for="file">Organization Logo</label>
                    <br>
                    <img class="text-center my-3" src='/volunteership_opportunities/get_image/<%= _id %>' height="250">
                    <br>
                    <input type="file" id="file" name="file" value="<%= typeof file != 'undefined' ? file : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="profile">Profile</label>
                    <input type="text" class="form-control" id="profile" placeholder="Enter profile"
                        name="profile" value="<%= typeof profile != 'undefined' ? profile : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="cities">Cities</label>
                    <input type="text" class="form-control" id="cities" placeholder="Enter cities" name="cities"
                        value="<%= typeof cities != 'undefined' ? cities : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="description1">Description (Short)</label>
                    <input type="text" class="form-control" id="description1"
                        placeholder="Entry Short Description" name="description1"
                        value="<%= typeof description1 != 'undefined' ? description1 : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="description">Description (Long)</label>
                    <textarea type="text" class="form-control" rows="5" id="description"
                        placeholder="Enter Description"
                        name="description"><%= typeof description != 'undefined' ? description.trim() : '' %></textarea>
                </div>
                <div class="form-group">
                    <label class="required" for="duration">Duration</label>
                    <input type="text" class="form-control" id="duration" placeholder="Enter Duration" name="duration"
                        value="<%= typeof duration != 'undefined' ? duration : '' %>">
                </div>
                <div class="form-group">
                    <label class="required" for="openings">Openings</label>
                    <input type="number" class="form-control" id="openings" placeholder="Enter Number of Openings"
                        name="openings" value="<%= typeof openings != 'undefined' ? openings : '' %>">
                </div>
                <button type="submit" class="btn btn-outline-dark pl-4 pr-4">Save</button>
            </form>
        </div>
    </div>
</div>

<% include ../layouts/footer %>